
@{
    ViewBag.Title = "Team";
}

<a href="/Animal/list">Go back to list</a>
<h2>@Model.PlayerID</h2>
<div>Name: @Model.PlayerName</div>
<div>DateODBirth: @Model.DateOfBirth</div>
<div>TeamName: @Model.Player.TeamName</div>


